
body {
  margin: 0;
  padding: 0;
  font-family: 'Michroma', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left,
      rgba(7, 27, 82, 1) 0%,
      rgba(0, 128, 128, 1) 100%);
  text-align: center;
  padding: 100px;
}

img {
  padding: 50px;
  width: 40%;
}